@model IEnumerable<ManyToManyRelation.Models.Post>
<h1>Index</h1>
<hr />
<div class="container">
    <a asp-action="Create" asp-controller="Post" class="btn btn-primary">Create</a>
    <br><br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            <tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Title</td>
                    <td>@string.Join(", ",item.PostCategories.Select(p=>p.Category.Title))</td>
                    <td>
                        <a asp-route-id="@item.Id" asp-action="Edit" asp-controller="Post">Edit</a> ||
                        <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Post">Delete</a>
                    </td>
                </tr>
                }

            </tr>
        </tbody>
    </table>
</div>