@model IEnumerable<ManyToManyRelation.Models.Category>
<h1>Index</h1>
<hr />
<div class="container">
    <a asp-action="Create" asp-controller="Category" class="btn btn-primary">Create</a>
    <br><br>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-primary">
            <tr>
                @{
                    var sn = 1;
                    foreach (var item in Model)
                    {
                    <tr>
                        <td>@(sn++)</td>
                        <td>@item.Title</td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="Edit" asp-controller="Category">Edit</a> ||
                            <a asp-route-id="@item.Id" asp-action="Delete" asp-controller="Category">Delete</a>
                        </td>
                    </tr>
                    }
                }
            </tr>
        </tbody>
    </table>
</div>